.cart-container {
    margin-left: 200px;
}

.left {
    width: 70%;
}

.cartHeading1 {
    font-weight: bolder;
    color: #FF8C00;
}
.cartHeading2 {
    color: grey;
}

.cartHeading {
    display: flex;
    justify-content: space-between;
}

.flexContainer {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
}

.flexContainer > :first-child {
    margin-right: 250px;   /* extra spacing only after the first item */
  }

  .flex-item {
    font-size: larger;
    font-weight: bold;
  }